@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
/*primary*/
/*Accent*/
/*Neutral*/
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: #ff7a7a;
  background-image: url("../images/bg-intro-desktop.png");
}

h1,
p {
  color: #ffffff;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.container {
  width: 70%;
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .content {
  padding-right: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .content .text-wrapper {
  margin: auto;
}

.container .login span.try {
  color: #ffffff;
  font-weight: 600;
}

.container .login a.button {
  background-color: #6055a5;
  text-align: center;
  color: #b9b6d3;
  display: block;
  padding: 18px 30px;
  border-top: 1px solid #6055a5;
  border-right: 1px solid #6055a5;
  border-bottom: 1px solid #6055a5;
  border-left: 1px solid #6055a5;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 6px 2px 0px;
          box-shadow: rgba(0, 0, 0, 0.2) 1px 6px 2px 0px;
  margin-bottom: 30px;
  cursor: pointer;
}

.container .login .form-wrapper {
  background-color: #ffffff;
  padding: 30px 35px;
  border-radius: 8px;
}

.container .login .form-wrapper input[type="text"],
.container .login .form-wrapper input[type="password"] {
  font-size: 1rem;
  width: 100%;
  padding: 18px 30px;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #b9b6d3;
  border-radius: 5px;
  outline: none;
  font-family: "Poppins", sans-serif;
}

.container .login .form-wrapper input[type="text"]:focus,
.container .login .form-wrapper input[type="password"]:focus {
  border: 1px solid #3e3c49;
}

.container .login .form-wrapper input:focus::-webkit-input-placeholder {
  color: #3e3c49;
}

.container .login .form-wrapper input:focus:-ms-input-placeholder {
  color: #3e3c49;
}

.container .login .form-wrapper input:focus::-ms-input-placeholder {
  color: #3e3c49;
}

.container .login .form-wrapper input:focus::placeholder {
  color: #3e3c49;
}

.container .login .form-wrapper input[type="submit"] {
  font-size: 1rem;
  width: 100%;
  padding: 18px 30px;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #38cc8c;
  border: 1px solid #38cc8c;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 5px 5px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 1px 5px 5px 0px;
}

.container .login p.agreement {
  font-size: 0.7rem;
  color: #b9b6d3;
  text-align: center;
}

.container .login p.agreement span {
  color: #ff7a7a;
}

@media only screen and (min-device-width: 280px) and (max-device-width: 576px) and (-webkit-min-device-pixel-ratio: 2) {
  h1 {
    font-size: 2rem;
  }
  .container {
    width: 100%;
    padding: 0px 15px;
    margin: 50px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .content {
    text-align: center;
    padding: 0px;
  }
  .container .content .text-wrapper p {
    margin-bottom: 60px;
  }
}
/*# sourceMappingURL=main2.css.map */