@import "fonts2";

/*primary*/
$red: #ff7a7a;
$green: #38cc8c;
$white: #ffffff;

/*Accent*/
$blue: #6055a5;

/*Neutral*/
$dark-blue: #3e3c49;
$grayish-blue: #b9b6d3;

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: $red;
  background-image: url("../images/bg-intro-desktop.png");
}

h1,
p {
  color: $white;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1rem;
}

.container {
  width: 70%;
  margin: 100px auto;
  display: flex;
  flex-direction: row;

  & .content {
    padding-right: 35px;
  }

  & .login {
    .form-wrapper {
      background-color: $white;
      padding: 30px 35px;
      border-radius: 8px;

      input[type="text"],
      input[type="password"] {
        font-size: 1rem;
        width: 100%;
        padding: 18px 30px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid $grayish-blue;
        border-radius: 5px;
        outline: none;
        font-family: "Poppins", sans-serif;
      }

      input[type="text"]:focus,
      input[type="password"]:focus {
        border: 1px solid $dark-blue;
      }

      input:focus::placeholder {
        color: $dark-blue;
      }

      input[type="submit"] {
        font-size: 1rem;
        width: 100%;
        padding: 18px 30px;
        margin: 8px 0;
        box-sizing: border-box;
        background-color: $green;
        border: 1px solid $green;
        border-radius: 5px;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        color: $white;
        cursor: pointer;
      }
    }

    p.agreement {
      font-size: 0.7rem;
      color: $grayish-blue;
      text-align: center;

      & span {
        color: $red;
      }
    }
  }
}
