@import "fonts1";

/*primary*/
$cyan: #2AB2AF;
$light-cyan: #5cd2ce;
$bright-yellow:#C0DF34;

/*Neutral*/
$light-gray: #E5EFF5;
$grayish-blue: #98A6BD;
$white: #ffffff;

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: $light-gray;
}

.container {
    width: 80%;
    margin: 25px auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 'header header header header'
    'sidebar sidebar sidebar sidebar'
    'content content content content'
    'footer footer footer footer';
}

.item {
    width: 100%;
    background-color: coral;
    padding: 40px;
    box-sizing: border-box;
}

h2, h3 {
    font-weight: 700;
}

h3, p {
    color: $white;
}

 a {
     text-decoration: none;
 }

 .button {
    font-weight: 700;
    background-color:$bright-yellow;
    text-align: center;
    color: $white;
    display: block;
    width: 85%;
    padding: 10px 20px;
    border-top: 1px solid $bright-yellow;
    border-right: 1px solid $bright-yellow;
    border-bottom: 1px solid $bright-yellow;
    border-left: 1px solid $bright-yellow;
    border-radius: 5px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
 }

.header {
    grid-area: header;
    background-color: $white;

    & h2 {
        color: $cyan;
    }

    & p.guarantee {
        color: $bright-yellow;
        font-weight: 700;

    }

    & p {
        color: $grayish-blue;
        line-height: 1.6;
    }
}


.sidebar {
    grid-area: sidebar;
    background-color: $cyan;

    & p.price {
        color: $light-gray
    }

    & span.price {
        color: $white;
        font-size: 2rem;
        font-weight: 700;
    }    
}

.content {
    grid-area: content;
    background-color: $light-cyan;

    & p {
        color: $light-gray;
        line-height: 1.6;
    }
}

.footer {
    grid-area: footer;
    text-align: center;
}

/*Responsive*/

@media screen and (min-width: 576px) {
    .container {
        width: 35%;
        margin: 100px auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 'header header header header'
        'sidebar sidebar content content'
        'footer footer footer footer';
    }
}